:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: hsl(10, 85%, 55%);
    --primary-color-rgba: rgba(238, 75, 43, 0.1);
}

.while-text {
    color: #fff !important;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-widht {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}


/* Animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}