/* Start navigation bar */

#header {
    width: 100%;
    background-image: linear-gradient(0, #ff6634, #f53e2d);
    height: 12rem;
}

.header__top {
    display: flex;
    justify-content: space-between;
    padding: 8px 0 4px;
}

.header-top__list {
    display: flex;
    list-style: none;
    font-size: 14px;
}

.header-top-list__item {
    font-weight: 300;
    padding-right: 5px;
    display: flex;
}

.header-top-list__icon:hover,
.header-top-list__item:hover>a {
    opacity: 0.8;
    cursor: pointer
}

.header-top-list__icon {
    font-size: 16px;
    padding: 0 5px;
}

.header-top-list__item+.header-top-list__item {
    padding-left: 5px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.header-top-list__link {
    text-decoration: none;
}

.header-top-list__link--strong {
    font-weight: 400;
}

.header__bottom {
    display: flex;
    padding: 16px 0 10px;
    align-items: center;
}

.header-bottom__logo-section {
    flex: 3;
    font-size: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-bottom-search__input-search {
    width: 100%;
    height: 100%;
    padding: 12px 16px;
    border: 0;
    background-color: #fff;
    border-radius: 3px;
    font-size: 1.4rem;
    color: var(--text-color);
}

.header-bottom-search__input-search:focus {
    outline: none;
}

.header-bottom__logo {
    padding-right: 12px;
}

.header-bottom-search__items {
    display: flex;
    list-style: none;
    font-weight: 300;
    padding-top: 5px;
}

.header-bottom__search {
    flex: 9;
    position: relative;
}

.header-bottom-search-selection__inside {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border-left: 1px solid #ccc;
    font-size: 1.4rem;
    color: var(--text-color);
}

.header-bottom-search__selection {
    position: relative;
}

.header-bottom-search-selection__icon {
    transform: translateY(-10%);
}

.header-bottom__search-section {
    display: flex;
}

.header-bottom-search-selection__search-btn {
    padding: 8px 24px;
    font-size: 1.6rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 3px;
    margin-right: 4px;
}

.header-bottom-search-selection__label {
    padding: 10px 16px;
    cursor: pointer;
}

.header-bottom-search-selection__option {
    display: none;
    position: absolute;
    top: 245%;
    left: 0;
    background-color: var(--white-color);
    list-style: none;
    font-size: 1.4rem;
    color: var(--text-color);
    cursor: pointer;
    box-shadow: 0 0 1px #333;
    border-radius: 3px;
}

.header-bottom-search-selection__label:hover .header-bottom-search-selection__option {
    display: block;
}

.header-bottom-search-selection__option::before {
    content: "";
    border: 20px solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 1px;
    top: -30px;
}

.header-bottom-search-selection__option::after {
    content: "";
    position: absolute;
    width: 100%;
    background-color: transparent;
    height: 15px;
    top: -15px;
    right: 0;
}

.header-bottom-search-selection-option__item {
    padding: 12px 12px 12px 16px;
}

.header-bottom-search-selection-option__item:hover {
    background-color: rgba(179, 28, 28, 0.05);
}

.header-bottom-search-selection-option__item i {
    font-size: 1.2rem;
    padding-left: 2px;
    color: var(--primary-color)
}

.header-bottom-search-selection-option__item+.header-bottom-search-selection-option__item {
    border-top: 1px solid #ccc;
}

.header-bottom-search__list {
    font-size: 12px;
    cursor: pointer;
}

.header-bottom-search__list:hover {
    opacity: 0.8;
}

.header-bottom-search__list+.header-bottom-search__list {
    padding-left: 12px;
}

.header-bottom-search__history {
    display: none;
    position: absolute;
    left: 0;
    top: 110%;
    background-color: var(--white-color);
    width: 76%;
    box-shadow: 0 0 1px #888;
    border-radius: 3px;
}

.header-bottom-search-history__header {
    height: 40px;
}

.header-bottom-search-history__header h3 {
    color: #888;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}

.header-bottom-search-history__content {
    list-style: none;
}

.header-bottom-search-history__item {
    padding: 6px 12px;
    font-size: 1.4rem;
    width: 100%;
}

.header-bottom-search-history__link {
    color: var(--text-color);
    text-decoration: none;
    width: 100%;
}

.header-bottom-search-history__item:hover {
    background-color: #f7f7f7f7;
}

.header-bottom-search__input-search:focus~.header-bottom-search__history {
    display: block;
}

.header-bottom-search-history__footer {
    height: 40px;
    background-color: #f9f9f9f9;
}

.header-bottom-search-history__footer h3 {
    color: var(--text-color);
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}


/* _______________________________________________________________________________________________________________________________ */

.header-bottom__cart-wrapper {
    text-align: center;
    flex: 2;
}

.header-bottom__cart-logo {
    font-size: 32px;
}


/* Header QR code */

.qr-code-container:hover .header__qr {
    display: block;
}

.qr-code-container {
    position: relative;
}

.header__qr {
    display: none;
    width: 185px;
    position: absolute;
    left: 0;
    top: 150%;
    z-index: 100;
    box-shadow: 0 0 1px #888;
    animation: fadeIn ease 0.5s;
}

.header__qr::before {
    content: "";
    width: 100%;
    height: 30px;
    position: absolute;
    left: 0;
    top: -15px;
    background-color: transparent;
}

.header__qr>img {
    width: 100%;
}

.header-qr__apps {
    padding: 0 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.header-qr-apps__download {
    width: 45%;
    height: 30px;
}

.header-qr-apps__download>img {
    width: 100%;
}


/* End header QR code */


/* Header notìication */

.notify-container {
    position: relative;
}

.notify-container:hover .header__notify {
    display: block;
}

.header__notify::before {
    content: "";
    width: 100%;
    height: 30px;
    position: absolute;
    left: 0;
    top: -15px;
    background-color: transparent;
}

.header__notify {
    display: none;
    position: absolute;
    right: 0;
    top: 170%;
    background-color: var(--white-color);
    width: 404px;
    z-index: 100;
    box-shadow: 0 0 1px #888;
    transform-origin: calc(100% - 20px) right;
}

.header-notify__header {
    height: 40px;
}

.header-notify__header::before {
    content: "";
    border: 20px solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 20px;
    top: -30px;
}

.header-notify__header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}

.header-notify__content {}

.header-notify__footer:hover,
.header-notify__item:hover {
    background-color: #f7f7f7f7;
}

.header-notify__item--unread {
    background-color: var(--primary-color-rgba);
}

.header-notify__link {
    display: flex;
    padding: 8px 24px 12px 12px;
    text-decoration: none;
}

.head-notify__img {
    width: 48px;
    object-fit: contain;
}

.header-notify__info {
    padding-left: 12px;
    display: flex;
    flex-direction: column;
}

.header-notify__slogan {
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding-bottom: 8px;
    font-weight: 400;
}

.header-notify__description {
    color: #756f6e;
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding-bottom: 4px;
}

.header-notify__footer {
    height: 40px;
    background-color: #f9f9f9f9;
}

.header-notify__footer h3 {
    color: var(--text-color);
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}

.login-form,
.register-form {
    will-change: opacity, transform;
    animation: growth ease-in 0.15s;
    -webkit-animation: growth ease-in 0.15s;
    -moz-animation: growth ease-in 0.15s;
    -ms-animation: growth ease-in 0.15s;
}


/* End header notìication */


/* End navigation bar */


/* Modal layout */

.modal__overlay {
    animation: fadeIn ease 0.3s;
}

.authen-form {
    padding: 32px 32px 24px;
    width: 500px;
    background-color: var(--white-color);
    border-radius: 8px 8px 0 0;
    will-change: opacity, transform;
    animation: growth ease-in 0.15s;
    -webkit-animation: growth ease-in 0.15s;
    -moz-animation: growth ease-in 0.15s;
    -ms-animation: growth ease-in 0.15s;
}

.authen-form__header {
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.authen-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
    margin-top: 10px;
}

.authen-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400px;
    color: var(--primary-color);
    cursor: pointer;
}

.authen-form__form {
    margin-top: 50px;
}

.authen-form__group {}

.authen-form__input {
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.2rem;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    outline: none;
}

.authen-form__input:focus {
    border-color: #777;
}

.authen-form__policy {
    margin-top: 18px;
}

.authen-form-policy__text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
}

.authen-form-policy__link {
    text-decoration: none;
    color: var(--primary-color)
}

.authen-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.btn--primary {}

.authen-form__socials {
    display: flex;
    background-color: #f5f5f5;
    padding: 12px 36px;
    justify-content: space-between;
    font-size: 12px;
    border-radius: 0 0 8px 8px;
}


/* End modal layout */

.authen-form-socials--facebook {
    color: var(--white-color);
    background-color: #3a5a98;
}

.authen-form-socials--google {
    width: 45%;
    background-color: var(--white-color);
}

.authen-form-socials--google i {
    color: var(--text-color);
}

.authen-form__forgot-password {
    display: flex;
    justify-content: flex-end;
}

.authen-form-forgot-password__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--primary-color);
}

.authen-form-forgot-password__link+.authen-form-forgot-password__link {
    padding-left: 16px;
    border-left: 1px solid #ccc;
    margin-left: 16px;
}

.authen-form-controls__back {
    margin-right: 20px;
}

.content {}

.description {}

.catergory {}

.help {}

.footer {}